$Egyptianblue-color: #1e2a9c;
$Midnightblue-color: #15225a;
$Brandeisblue-color: #0273ff;
$Flame-color: #f25829;
$Glitter-color: #e0eaf8;
$Lightslategray-color: #797ca8;
$LightslategrayFont-color: #6D7783;
$white-color: #ffffff;
$black-color: #000000;
$secondary-light: #eeeeee;
$gray-light: #e0e7ff;
$blue-grey-footer-color: #656D7A;
$grey-footer: #2C2E36;